# config/packages/security.yaml
security:
    access_denied_url: /403
    password_hashers:
            App\Entity\User:
                algorithm: plaintext
            App\Entity\Customer:
                algorithm: plaintext
    providers:
        chain_provider:
            chain:
                providers: ['app_user_provider', 'app_customer_provider']

        app_user_provider:
            entity:
                class: App\Entity\User
                property: username
                manager_name: 'default'

        app_customer_provider:
            entity:
                class: App\Entity\Customer
                property: username
                manager_name: 'default'
                

    firewalls:
        main:
            pattern: ^/
            provider: chain_provider  # Sử dụng chain_provider để kết hợp cả hai providers
            form_login:
                login_path: 'dang_nhap'
                check_path: 'dang_nhap'
                username_parameter: 'Username'
                password_parameter: 'Password'
                default_target_path: 'trang_chu'
                success_handler: 'app.security.authentication.success_handler'
            logout:
                path: 'dang_xuat'
            # ...

    access_control:
        - { path: ^/(them-khach-hang|don-dat-hang|danh-sach-thuoc|chi-tiet-thuoc), roles: ['BanThuocAccess', 'AdminAccess'] }
        - { path: ^/(danh-sach-khach-hang|don-dat-online), roles: ['QuanLyKhachHangAccess', 'AdminAccess'] }
        - { path: ^/(chi-phi|nguon-thu|chi-tiet-hoa-don|danh-sach-nhan-vien|thong-tin-nhan-vien|cham-cong), roles: ['BaoCaoTaiChinhAccess', 'AdminAccess'] }
        - { path: ^/(bao-cao-ban-hang|bao-cao-mua-hang|bao-cao-ton-kho|nhap-thuoc|them-thuoc-moi|chi-tiet-thuoc), roles: ['NhapHangAccess', 'AdminAccess'] }
        - { path: ^/cai-dat-nhan-vien, roles: AdminAccess }


    role_hierarchy:
        ROLE_ADMIN: ROLE_USER
