table {
    border-collapse: collapse;
    width: 1450px;
    margin: 20px 180px;
}
th, td {    
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
h1{
    text-align: center;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  

  /* Style cho form input */
.form-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    outline: none;
    width: 100%;
  }
  
  /* Style cho form input khi focus */
  .form-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  /* Style cho form label */
  .form-label {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    display: block;
    margin-bottom: 5px;
  }
  
  /* Style cho form group */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Style cho form error message */
  .form-error-message {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #dc3545;
    margin-top: 5px;
    display: none;
  }
  
  /* Style cho form input khi c칩 l敲들 */
  .form-input.error {
    border-color: #dc3545;
  }
  
  /* Style cho form error message khi c칩 l敲들 */
  .form-error-message.show {
    display: block;
  }
  

  form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
    