table {
    border-collapse: collapse;
    width: 1450px;
    margin: 20px 180px;
}
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  h1{
      text-align: center;
  }

  .timkiem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .timkiem form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .timkiem h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  .timkiem input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .timkiem input[type="submit"] {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .timkiem input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  

  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 850px;
  }

  button:hover {
    background-color: #3e8e41;
  }