{% extends 'base.html.twig' %}

{% block title %}Cài đặt{% endblock %}

{% block body %}
<div class="nk-content ">
<div class="container-fluid">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <div class="nk-block">
                <div class="card card-bordered">
                    <div class="card-aside-wrap">
                        <div class="card-inner card-inner-lg">
                            <div class="nk-block-head nk-block-head-lg">
                                <div class="nk-block-between">
                                    <div class="nk-block-head-content">
                                        <h5 class="title fw-medium">Cài đặt chung</h5>
                                        <span>Các thiết lập này giúp bạn chỉnh sửa các cài đặt trang web.                                        </span>
                                    </div>
                                    <div class="nk-block-head-content align-self-start d-lg-none">
                                        <a href="#" class="toggle btn btn-icon btn-trigger mt-n1" data-target="userAside">
                                            <em class="icon ni ni-menu-alt-r"></em>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-block">
                                <form action="#" class="form-settings gy-3">
                                    <div class="row g-3 align-center">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <label class="form-label" for="site-name">Tên nhà thuốc</label>
                                                <span class="form-note">Tên nhà thuốc của bạn</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="site-name" value="Dashlite">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3 align-center">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <label class="form-label" for="site-email">Địa chỉ nhà thuốc</label>
                                                <span class="form-note">Địa chỉ nhà thuốc của bạn</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="site-email" value="Softnio Street 3">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3 align-center">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <label class="form-label" for="site-copyright">Bản quyền</label>
                                                <span class="form-note">Thông tin bản quyền của nhà thuốc của bạn.</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="site-copyright" value="&copy; 2019, DashLite. All Rights Reserved.">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3 align-center">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <label class="form-label">Cho phép đăng ký.</label>
                                                <span class="form-note">Bật hoặc tắt tính năng đăng ký từ trang web.</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <ul class="custom-control-group g-3 align-center flex-wrap">
                                                <li>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" checked name="reg-public" id="reg-enable">
                                                        <label class="custom-control-label" for="reg-enable">Enable</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" name="reg-public" id="reg-disable">
                                                        <label class="custom-control-label" for="reg-disable">Disable</label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" name="reg-public" id="reg-request">
                                                        <label class="custom-control-label" for="reg-request">On Request</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                 
                                    <div class="row g-3 align-center">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <label class="form-label" for="site-name">Pop up</label>
                                                <span class="form-note">Thông báo</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="form-group">
                                                <div class="form-control-wrap">
                                                    <div class="form-control-wrap">
                                                        <textarea class="form-control form-control no-resize" id="fv-message" name="fv-message" placeholder="Hello World!"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3 align-center">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <label class="form-label" for="site-off">Chế độ bảo trì</label>
                                                <span class="form-note">Bật để đưa dự án vào chế độ ngoại tuyến (offline).</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" name="reg-public" id="site-off">
                                                    <label class="custom-control-label" for="site-off">Offline</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3">
                                        <div class="col-lg-7">
                                            <div class="form-group mt-2">
                                                <button type="submit" id="update-btn" class="btn btn-lg btn-primary">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-aside card-aside-left user-aside toggle-slide toggle-slide-left toggle-break-lg" data-content="userAside" data-toggle-screen="lg" data-toggle-overlay="true">
                            <div class="card-inner-group" data-simplebar>
                                <div class="card-inner">
                                    <h3 class="nk-block-title page-title">Cài đặt</h3>
                                    <div class="nk-block-des text-soft">
                                        <p>Ở đây, bạn có thể thay đổi và chỉnh sửa những gì bạn cần.</p>
                                    </div>
                                </div>
                                <div class="card-inner p-0">
                                    <ul class="link-list-menu">
                                        <li>
                                            <a class="active" href="{{ path('cai_dat') }}">
                                                <em class="icon ni ni-setting-alt-fill"></em>
                                                <span>Cài đặt chung</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('cai_dat_nhan_vien') }}">
                                                <em class="icon ni ni-account-setting"></em>
                                                <span>Nhân viên</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/demo7/pharmacy/email-settings.html">
                                                <em class="icon ni ni-lock-alt-fill"></em>
                                                <span>E-mail</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/demo7/pharmacy/security-settings.html">
                                                <em class="icon ni ni-shield-star-fill"></em>
                                                <span>Security</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/demo7/pharmacy/account-log.html">
                                                <em class="icon ni ni-activity-round-fill"></em>
                                                <span>Account activity</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Pop-up Thông Báo -->
<div class="popup" id="popup">
  <div class="popup-content">
    <span class="close" onclick="closePopup()">&times;</span>
    <p id="popup-message">Thông báo của bạn đã được cập nhật!</p>
  </div>
</div>



<!-- Thêm mã JavaScript để xử lý sự kiện và lưu trữ thông báo -->
<!-- Thêm mã JavaScript để xử lý sự kiện và lưu trữ thông báo -->
<script>
  document.getElementById('update-btn').addEventListener('click', function() {
    var message = document.getElementById('fv-message').value;
    localStorage.setItem('popupMessage', message);
    localStorage.setItem('loggedInUser', 'user1'); // Lưu tên người dùng khi đăng nhập
  });
</script>


{% endblock %}
