{% extends 'base.html.twig' %}

{% block title %}Sổ kế toán sản xuất{% endblock %}

{% block body %}
<div class="nk-content ">
                        <div class="container-fluid">
                            <div class="nk-content-inner">
                                <div class="nk-content-body">
                                    <div class="nk-block-head nk-block-head-sm">
                                        <div class="nk-block-between">
                                            <div class="nk-block-head-content">
                                                <h3 class="nk-block-title page-title">Kế toán nhà sản xuất</h3>
                                            </div>
                                            <div class="nk-block-head-content">
                                                <div class="toggle-wrap nk-block-tools-toggle">
                                                    <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu">
                                                        <em class="icon ni ni-more-v"></em>
                                                    </a>
                                                    <div class="toggle-expand-content" data-content="pageMenu">
                                                        <ul class="nk-block-tools g-3">
                                                            <li>
                                                                <div class="drodown">
                                                                    <a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light" data-bs-toggle="dropdown">
                                                                        <em class="d-none d-sm-inline icon ni ni-filter-alt"></em>
                                                                        <span>
                                                                            <span class="d-none d-md-inline"></span>
                                                                            Filtered By
                                                                        </span>
                                                                        <em class="dd-indc icon ni ni-chevron-right"></em>
                                                                    </a>
                                                                    <div class="dropdown-menu dropdown-menu-end">
                                                                        <ul class="link-list-opt no-bdr">
                                                                            <li>
                                                                                <a href="#">
                                                                                    <span>Last 7 Days</span>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <span>Last 30 Days</span>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="#">
                                                                                    <span>Last 6 Month</span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="nk-block-tools-opt">
                                                                <a data-bs-toggle="modal" href="#addManLedger" class="btn btn-icon btn-primary d-md-none">
                                                                    <em class="icon ni ni-plus"></em>
                                                                </a>
                                                                <a data-bs-toggle="modal" href="#addManLedger" class="btn btn-primary d-none d-md-inline-flex">
                                                                    <em class="icon ni ni-plus"></em>
                                                                    <span>Add Ledger</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nk-block">
                                        <div class="card card-bordered card-stretch">
                                            <div class="card-inner-group">
                                                <div class="card-inner position-relative card-tools-toggle">
                                                    <div class="card-title-group">
                                                        <div class="card-tools">
                                                            <div class="form-inline flex-nowrap gx-3">
                                                                <div class="form-wrap w-150px">
                                                                    <select class="form-select form-select-sm js-select2" data-search="off" data-placeholder="Bulk Action">
                                                                        <option value="">Bulk Action</option>
                                                                        <option value="today">Today</option>
                                                                        <option value="tomorrow">Tomorrow</option>
                                                                        <option value="days">Last 7 days</option>
                                                                    </select>
                                                                </div>
                                                                <div class="btn-wrap">
                                                                    <span class="d-none d-md-block">
                                                                        <button class="btn btn-dim btn-outline-light disabled">Apply</button>
                                                                    </span>
                                                                    <span class="d-md-none">
                                                                        <button class="btn btn-dim btn-outline-light btn-icon disabled">
                                                                            <em class="icon ni ni-arrow-right"></em>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card-tools me-n1">
                                                            <ul class="btn-toolbar gx-1">
                                                                <li>
                                                                    <a href="#" class="btn btn-icon search-toggle toggle-search" data-target="search">
                                                                        <em class="icon ni ni-search"></em>
                                                                    </a>
                                                                </li>
                                                                <li class="btn-toolbar-sep"></li>
                                                                <li>
                                                                    <div class="toggle-wrap">
                                                                        <a href="#" class="btn btn-icon btn-trigger toggle" data-target="cardTools">
                                                                            <em class="icon ni ni-menu-right"></em>
                                                                        </a>
                                                                        <div class="toggle-content" data-content="cardTools">
                                                                            <ul class="btn-toolbar gx-1">
                                                                                <li class="toggle-close">
                                                                                    <a href="#" class="btn btn-icon btn-trigger toggle" data-target="cardTools">
                                                                                        <em class="icon ni ni-arrow-left"></em>
                                                                                    </a>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="dropdown">
                                                                                        <a href="#" class="btn btn-trigger btn-icon dropdown-toggle" data-bs-toggle="dropdown">
                                                                                            <em class="icon ni ni-setting"></em>
                                                                                        </a>
                                                                                        <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end">
                                                                                            <ul class="link-check">
                                                                                                <li>
                                                                                                    <span>Show</span>
                                                                                                </li>
                                                                                                <li class="active">
                                                                                                    <a href="#">10</a>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <a href="#">20</a>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <a href="#">50</a>
                                                                                                </li>
                                                                                            </ul>
                                                                                            <ul class="link-check">
                                                                                                <li>
                                                                                                    <span>Order</span>
                                                                                                </li>
                                                                                                <li class="active">
                                                                                                    <a href="#">DESC</a>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <a href="#">ASC</a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="card-search search-wrap" data-search="search">
                                                        <div class="card-body">
                                                            <div class="search-content">
                                                                <a href="#" class="search-back btn btn-icon toggle-search" data-target="search">
                                                                    <em class="icon ni ni-arrow-left"></em>
                                                                </a>
                                                                <input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by Invoice No">
                                                                <button class="search-submit btn btn-icon">
                                                                    <em class="icon ni ni-search"></em>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-inner p-0">
                                                    <div class="nk-tb-list nk-tb-ulist">
                                                        <div class="nk-tb-item nk-tb-head">
                                                            <div class="nk-tb-col nk-tb-col-check">
                                                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                                                    <input type="checkbox" class="custom-control-input" id="uid">
                                                                    <label class="custom-control-label" for="uid"></label>
                                                                </div>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <span class="sub-text">Số hoá đơn</span>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-sm">
                                                                <span class="sub-text">Ngày</span>
                                                            </div>
                                                         
                                                            <div class="nk-tb-col tb-col-md">
                                                                <span class="sub-text">Mô tả</span>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-md">
                                                                <span class="sub-text">Nợ</span>
                                                            </div>
                                                           
                                                            <div class="nk-tb-col">
                                                                <span class="sub-text">Số dư</span>
                                                            </div>
                                                        </div>
                                                       
                                                       
                                                        
                                                       
                                                        <div class="nk-tb-item">
                                                            <div class="nk-tb-col nk-tb-col-check">
                                                                <div class="custom-control custom-control-sm custom-checkbox notext">
                                                                    <input type="checkbox" class="custom-control-input" id="uid10">
                                                                    <label class="custom-control-label" for="uid10"></label>
                                                                </div>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <a href="#">
                                                                    <span class="fw-medium">#2385L1</span>
                                                                </a>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-sm">
                                                                <span>25 Dec 2019</span>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-xxl">
                                                                <span>Purchase From Manufacturer #M-27</span>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-md">
                                                                <span>Final Settlement</span>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-md">
                                                                <span>-</span>
                                                            </div>
                                                            <div class="nk-tb-col tb-col-md">
                                                                <span>90432</span>
                                                            </div>
                                                            <div class="nk-tb-col">
                                                                <span class="tb-amount">40.432</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-inner">
                                                    <div class="nk-block-between-md g-3">
                                                        <div class="g">
                                                            <ul class="pagination justify-content-center justify-content-md-start">
                                                                <li class="page-item">
                                                                    <a class="page-link" href="#">Prev</a>
                                                                </li>
                                                                <li class="page-item">
                                                                    <a class="page-link" href="#">1</a>
                                                                </li>
                                                                <li class="page-item">
                                                                    <a class="page-link" href="#">2</a>
                                                                </li>
                                                                <li class="page-item">
                                                                    <span class="page-link">
                                                                        <em class="icon ni ni-more-h"></em>
                                                                    </span>
                                                                </li>
                                                                <li class="page-item">
                                                                    <a class="page-link" href="#">6</a>
                                                                </li>
                                                                <li class="page-item">
                                                                    <a class="page-link" href="#">7</a>
                                                                </li>
                                                                <li class="page-item">
                                                                    <a class="page-link" href="#">Next</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="g">
                                                            <div class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3">
                                                                <div>Page</div>
                                                                <div>
                                                                    <select class="form-select form-select-sm" data-search="on" data-dropdown="xs center">
                                                                        <option value="page-1">1</option>
                                                                        <option value="page-2">2</option>
                                                                        <option value="page-4">4</option>
                                                                        <option value="page-5">5</option>
                                                                        <option value="page-6">6</option>
                                                                        <option value="page-7">7</option>
                                                                        <option value="page-8">8</option>
                                                                        <option value="page-9">9</option>
                                                                        <option value="page-10">10</option>
                                                                        <option value="page-11">11</option>
                                                                        <option value="page-12">12</option>
                                                                        <option value="page-13">13</option>
                                                                        <option value="page-14">14</option>
                                                                        <option value="page-15">15</option>
                                                                        <option value="page-16">16</option>
                                                                        <option value="page-17">17</option>
                                                                        <option value="page-18">18</option>
                                                                        <option value="page-19">19</option>
                                                                        <option value="page-20">20</option>
                                                                    </select>
                                                                </div>
                                                                <div>OF 102</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}
