controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute


trang_chu:
    path: /trang-chu
    controller: App\Controller\TrangchuController::index
danh_sach_khach_hang:
    path: /danh-sach-khach-hang
    controller: App\Controller\DanhsachkhachhangController::index

them_khach_hang:
    path: /them-khach-hang
    controller: App\Controller\ThemkhachhangController::index
    
search_medicine:
    path: /search-medicine
    controller: App\Controller\ThemkhachhangController::searchMedicine
    methods: [GET, POST]

danh_sach_thuoc:
    path: /danh-sach-thuoc
    controller: App\Controller\DanhsachthuocController::index

them_thuoc_moi:
    path: /them-thuoc-moi
    controller: App\Controller\ThemthuocmoiController::index

dang_nhap:
    path: /dang-nhap
    controller: App\Controller\DangnhapController::index

dang_ky:
    path: /dang-ky
    controller: App\Controller\DangkyController::index

reset_mat_khau:
    path: /reset-mat-khau
    controller: App\Controller\ResetmatkhauController::index

chi_tiet_thuoc:
    path: /chi-tiet-thuoc/{id}
    controller: App\Controller\ChitietthuocController::index

danh_sach_nha_san_xuat:
    path: /danh-sach-nha-san-xuat
    controller: App\Controller\DanhsachnhasanxuatController::index

so_ke_toan_san_xuat:
    path: /so-ke-toan-san-xuat
    controller: App\Controller\SoketoansanxuatController::index

danh_sach_nhan_vien:
    path: /danh-sach-nhan-vien
    controller: App\Controller\DanhsachnhanvienController::index

thong_tin_nhan_vien:
    path: /thong-tin-nhan-vien/{id}
    controller: App\Controller\ThongtinnhanvienController::index

cham_cong:
    path: /cham-cong
    controller: App\Controller\ChamcongController::index

luong:
    path: /luong
    controller: App\Controller\LuongController::index


nguon_thu:
    path: /nguon-thu
    controller: App\Controller\NguonthuController::index

chi_phi:
    path: /chi-phi
    controller: App\Controller\ChiphiController::index

danh_sach_hoa_don:
    path: /danh-sach-hoa-don
    controller: App\Controller\DanhsachhoadonController::index



chi_tiet_hoa_don:
    path: /chi-tiet-hoa-don/{id}
    controller: App\Controller\ChitiethoadonController::index

bao_cao_ban_hang:
    path: /bao-cao-ban-hang
    controller: App\Controller\BaocaobanhangController::index

bao_cao_mua_hang:
    path: /bao-cao-mua-hang
    controller: App\Controller\BaocaomuahangController::index

bao_cao_ton_kho:
    path: /bao-cao-ton-kho
    controller: App\Controller\BaocaotonkhoController::index

cai_dat:
    path: /cai-dat
    controller: App\Controller\CaidatController::index

cai_dat_nhan_vien:
    path: /cai-dat-nhan-vien
    controller: App\Controller\CaidatnhanvienController::index

# :
#     path: /
#     controller: App\Controller\Controller::index

# :
#     path: /
#     controller: App\Controller\Controller::index