# services.yaml

services:
    Doctrine\DBAL\Connection:
        public: true
        factory: ['Doctrine\DBAL\DriverManager', 'getConnection']
        arguments:
            $params:
                driver: 'pdo_mysql'
                host: '%env(resolve:DATABASE_URL)%'
                charset: utf8mb4
                url: '%env(resolve:DATABASE_URL)%'
    cache.annotations:
        class: Symfony\Component\Cache\Adapter\FilesystemAdapter
        arguments:
            - 'annotations'
    # Cấu hình mặc định cho các dịch vụ trong file này
    _defaults:
        autowire: true      # Tự động inject dependencies vào các dịch vụ của bạn.
        autoconfigure: true # Tự động đăng ký các dịch vụ của bạn như các commands, event subscribers, v.v.

    Symfony\Component\Security\Core\Authentication\Token\Storage\TokenStorageInterface:
        alias: 'security.token_storage'

    Symfony\Component\Security\Core\Authorization\AuthorizationCheckerInterface:
        alias: 'security.authorization_checker'

    App\Security\PermissionVoter:
        arguments: []
        tags:
            - { name: 'security.voter' }

    Symfony\Component\Security\Core\Authentication\Token\TokenFactoryInterface:
        class: Symfony\Component\Security\Core\Authentication\Token\TokenFactory

    Symfony\Component\HttpFoundation\Session\SessionInterface: '@session'


    # Các class trong thư mục src/ sẽ sẵn sàng để sử dụng như các dịch vụ
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'  

    app.security.authentication.success_handler:
        class: 'App\Security\AuthenticationSuccessHandler'
        arguments: ['@router']

    # Thêm các định nghĩa dịch vụ khác nếu cần
